li{
    list-style: none;
    line-height: 40px;
    font-size: 20px;
}
ul{
    margin-top: 20px;
}
.foot{
    margin-top: 30px;
    line-height: 30px;
}
.foot h2{
    text-transform: uppercase;
    margin-left: 20px;
}
.foot i{
    margin-right: 10px;
    
}