*{
  background-color: black;
  color: white;
}

.home-img{
  height: 450px;
  width: 450px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.343);
 display: block;
 margin: auto;
}
.home-site{
  margin-top: 100px;
}
.home-title{
  font-size: 9vmin;
  text-transform: uppercase;
  line-height: 80px;
}
.home-disc{
  font-size: 18px;
  line-height: 40px;
  text-align: justify;
 
}
#join-btn{
  padding: 10px;
  background-color: orangered !important;
  color: white;
  text-transform: capitalize;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}
span{
  color: orangered;
}
.programs{
  margin-top: 40px;
}
.pr-tit{
  text-align: center;
  margin-top: 25px;
}
.box-pr{
  margin-top: 50px;
  height: 360px;
  width: 300px;
  display: block;
  margin: 30px auto;
  border-radius: 15px;
  background-color:rgb(2, 1, 1);
  border: 1px solid rgba(255, 255, 255, 0.422);
  padding-left: 15px;
  padding-right: 15px;
}
.box-pr i{
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: block;
  margin: 10px auto;
  color: orangered;
}
.pr-title{
font-size: 20px;
text-transform: uppercase;
font-weight: 500;
margin-top: 15px;
margin-bottom: 15px;
}
.lis{
  font-size: 16px;
}
.pr-disc{
  line-height: 30px;
  font-size: 16px;
}
.value-pr{
  text-align: center;
  margin-top: 25px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.pr-img{
 margin-top: 50px;
  height: 460px;
  width: 460px;
  border-radius: 0px 50px 0px 50px;
  display: block;
  margin: 50px auto;
  border: 1px solid rgba(255, 255, 255, 0.422);
}
.val-con li{
  list-style: square;
  margin-top: 15px;
 
}
.list{
 margin-top: 50px;
 line-height: 40px;
 font-size: 16px;
 text-transform: capitalize;
}